<div class="la-interactive__slide__slide la-interactive__slide__slideWithBackground la-interactive__slide__compact"
     data-index="0"
     style="background-image: url(&quot;https://media.giphy.com/media/qD7nG1IOgXOQU/giphy.gif?width=780&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; width: 780px; left: 0px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
  <fieldset>
    {{fancy-poll poll=model}}
  </fieldset>
  <footer>
    <div><b>227</b> Abstimmende</div>
    <div class="la-interactive__slide__paging">1/2</div>
  </footer>
</div>


